$def with (user,is_git_auth,project)

$var user = user
$var is_git_auth=is_git_auth
$var project = project

<section class="row articleBox">
	<section class="col-md-7 documentation" id="documentation">
		<h2 class="articleTitle">Documentazione</h2>
		<h3 class="articleSubtitle">Prima di cominciare... </h3>
		<p>Grazie per il tuo contributo a $project!</p>

		<h4>Linee guida per creare nuove schede</h4>
		<p>Per prima cosa, seleziona un modello dalla lista, che corrisponde al tipo di risorse che possono essere descritte in $project. Premi <em>Salva</em>.</p>
		<p>Puoi contribuire a $project con qualsiasi informazione in tuo possesso, senza bisogno di completare tutti i campi. Stai solo attento ai campi che sono contrassegnati da un * rosso, perché sono obbligatori.
		Una volta che salvi una scheda, se non hai un profilo, non sarai autorizzato a modificarla. Ma non preoccuparti, il nostro comitato editoriale revisionerà la tua proposta prima di pubblicare la scheda.</p>
		<p><em>Per favore, usa Chrome, Firefox o Safari!</em></p>

		<h4>Consigli: completamento automatico</h4>
		<p>Alcuni campi hanno la funzionalità del completamento automatico! Li riconosci perché hanno un'icona vicino al nome del campo.
			Delle opzioni a tendina spunteranno mentre digiti, inclusi i candidati che hanno maggiore corrisponddnza con il termine che hai inserito (fornite da Wikidata, VIAF e $project).</p>
		<img src="static/imgs/autocomplete.png" alt="screenshot entry form autocomplete"/>
		<p>Se hai trovato la corrispondenza nella lista, puoi cliccare l'icona per essere rimandato alla pafina del termine.
			Per selezionare un termine dalla lista, clicca sull'etichetta e apparirà sotto l'area di testo.</p>
		<img src="static/imgs/matchfound.png" alt="match found in the list of suggestions"/>
		<p>Se non trovi nessun termine che corrisponde alla tua ricerca, premi invio per aggiungerne uno nuovo a $project.
			Apparirà sotto l'area di testo.
			Gli altri collaboratori saranno in grado di utilizzarlo nelle nuove schede.</p>
		<img src="static/imgs/orangeList.png" alt="create a new term"/>
		<p>Puoi sempre rimuovere i valori cliccando sulla X.</p>
		<p>Le stesse funzionalità sono estese anche ai campi associati ai vocabolari SKOS. Vengono mostrate delle opzioni a casata, inclusi i suggerimenti dei termini raccolti dai vocabolari SKOS disponibili. Un comodo link alla pagina web di ogni vocabolario, ti permette di vedere l'opzione in anteprima.</p>
		<p><i class="fas fa-exclamation-circle"></i> <em>Seggerimenti vengono estratti in tempo reale. La riceerca inizia non appena si digita (alcuni millisecondi dopo aver rilasciato il tasto) e ci possono volere alcuni istanti se la connessione è instabile (quindi siate pazienti!).
			Inoltre, i risultati possono caricare letamente, per cui il perfezionamento della ricerca potrebbe chiedere tempo. Se non si trovano risultati al primo tentativo, per favore prova a rimuovere l'ultimo carattere e ridigitarlo.
			Per ultima cosa, quando sii cercano due o più parole (ad esempio nomi di persona, nomi di luoghi o tipi di oggetti) potresti dover provare diverse combinazioni di parole (ad esempio <code>nome+cognome</code> invece di <code>cognome+nome</code>)</em>.</p>
		<hr/>

	</section>
</section>
