$def with (user,is_git_auth,project,payoff,github_repo_name)

$var user = user
$var is_git_auth = is_git_auth
$var project = project
$var payoff = payoff


<section class="row homepage">
    <h1 class="col-md-16 col-sm-16"><span class="logo_homepage text-center">$project</span><br/>$payoff</h1>
    <section class="col-md-6">
    </section>
</section>

<section class="corners row">
  <section class="homeheading col-md-4 col-sm-12">
    <p class="caption">COSA</p>
    <h2>Crea facilmente Linked Open Data</h2>
  </section>
  <section class="homeheadingtext col-md-7 col-sm-12">
    <h3>Popola il catalogo di $project in pochi semplici passi</h3>
    <ol>
      <li>
        <p>Vai all'<button class="btn btn-dark" onclick="window.location.href='welcome-1'">Area utenti</button> e configura la tua applicazione.</p>
      </li>
      <li>
        <p>Crea i modelli per descrivere le tue risorse. Scegli quali dati vuoi creare, ad esempio testi, link a entità di Wikidata o vocabolari controllati.</p>
      </li>
      <li>
        <p><button class="btn btn-dark" onclick="window.location.href='record-$time_now()'">Aggiungi una nuova risorsa</button> alla tua collezione tramite moduli web facili da utilizzare. Se hai dei dubbi, leggi la <a href="documentation">documentazione</a> come aiuto.</p>
      </li>
      <li>
        <p>Revisiona e pubblica le tue schede dal back-end (lato server).</p>
      </li>
      <li>
        <p>Naviga, infine, il catalogo di $project nella pagina<button class="btn btn-dark" onclick="window.location.href='records'">Esplora $project</button>. I filtri possono essere selezionati durante la creazione del modello per le tue schede di inserimento dati. </p>
      </li>
      $if github_repo_name:
        <li>
          <p>Hai attivato la sincronizzazione con Github, vedi i tuoi dati crescere nel tuo archivio..
            Nuovi collaboratori possono creare un nuovo profilo facendo richiesta su github.</p>
            <button class="btn btn-dark" onclick="window.location.href='https://github.com/polifonia-project/registry/issues/new'"></button>
        </li>
      $else:
        <li>
          <p>Se hai un account github e possiedi un tuo archivio, puoi attivare la sincronizzazione Gihub, salvare i tuoi dati e consentire ai collaboratori di autenticarsi su CLEF. Segui le istruzioni nella pagina di configurazione.</p>
        </li>
    </ol>



  </section>

</section>

<!--MAP-->
<section class="corners row">
  <section class="homeheading col-md-4 col-sm-12">
    <p class="caption">MAPPA</p>
    <h2>Visualizza i dati del tuo catalogo su mappa digitale.</h2>
  </section>
  <section class="homeheadingtext col-md-7 col-sm-12">
    <div id="myMap"></div>
  </section>
</section>