$def with(f,user,data, is_git_auth, project)
$var user = user
$var is_git_auth = is_git_auth
$var project= project

<header class="row">
	<h3>Configura la tua applicazione</h3>
</header>
<section class="corners row">
	<section class="col-md-6 col-lg-6 col-sm-6">
		<form id="setupForm" class="col-md-12 col-sm-12 col-lg-12" action="" method="POST">
			<section class="row">
				<section class="homeheading col-md-12 col-lg-12 col-sm-12">
					$for input in f.inputs:
						<section class=" form_row">
						$ id = input.get_default_id()
						$if type(input) == Checkbox:
							<section class="col-md-12 col-sm-12 col-lg-12">
								$:input.pre
								$:input.render()
								$:input.description
							</section>
						$else:
							<section class="label col-12">
								$:input.description
							</section>
							<section class="col-md-12 col-sm-12 col-lg-12">
								$:input.pre
								$if id in data:
									$:input.set_value(data[id])
								$:input.render()
							</section>
						</section>
				</section>
			</section>
			<section class="buttonsSection">
				<input class="btn btn-dark" type="submit" value="Save"/>
			</section>
		</form>
	</section>
	<section class="homeheading col-md-6 col-sm-6 col-lg-6">
		<p class="caption">Consigli</p>
		<p>Personalizza il nome del progetto e il payoff nella pagina principale.</p>
		<p>L'endpoint SPARQL locale viene eseguito sulla porta 3000. Per modificare la porta, leggi la documentazione.
			Se la distribuzione di $project avviene su un server remoto, saranno disponibili uno SPARQL REST API pubblico e GUI a <code>YOUR-DOMAIN/sparql</code> (come back here to add the full URL).</p>
		<p>L'URI base è l'URI permanente delle nuove entità. Puoi usare servizi esterni come <a target="_blank" href="https://w3id.org/">w3id</a>.
			Sappi che la negoziazione dei contenuti non sarà attivata automaticamente. Vedi un <a target="_blank" href="https://github.com/perma-id/w3id.org/tree/master/musow">esempio</a> su come abilitarla con w3id.</p>
		<p>Puoi limitare il numero delle contribuzioni giornaliere per utente, impostando un limite di richieste che provengono dallo stesso indirizzo IP.</p>
		<p>Scegli un numero di schede da mostrare lato server e lato utente (impaginazione dei risultatI).</p>
		<h5>Sincronizzazione e autenticazione Github</h5>
		<p>$project può essere sincronizzato con un archivio Github per <code>(1)</code> creare una versione salvata dei tuoi dati e <code>(2)</code> per creare un gruppo che collabori al catalogo.</p>
		<p>Per <code>(1)</code> avrai bisogno di:</p>
		<ul>
			<li><a target="_blank" href="https://github.com/join">un profilo Github</a></li>
			<li><a target="_blank" href="https://docs.github.com/en/get-started/quickstart/create-a-repo">Un archivio Github</a></li>
			<li><a target="_blank" href="https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token">un token di autorizzazione</a></li>
		</ul>
		<p>Abilita il salvataggio Github (<code>True</code>), registra il tuo nome utente GitHub come <code>COMMITS DEFAULT AUTHOR</code> e l'email che hai usato per registrarti su Github come <code>COMMITS DEFAULT AUTHOR EMAIL</code>.</p>
		<p>L'archivio deve essere tuo o di qualcuno che è stato accreditato come collaboratore con privilegi da amministratore. Se l'archivio è tuo, usa il tuo nome utente come <code>REPOSITORY OWNER</code>, e il nome dell'archivio come <code>REPOSITORY NAME</code>.</p>
		<p>Segui le istruzioni per creare il token di autorizzazionie. Quando selezioni lo scopo dell'autorizzazione, assicurati che <b>repo</b> sia selezionato. $project ha bisogno di questa impostazione per inviare modifiche sul tuo archivio per conto tuo. Copia e incolla il codice nel campo <code>GITHUB BEARER TOKEN</code>.
			Sappi che potresti avere bisogno di modificare questo codice nel tempo in base alla data di scadenza che scegli.</p>
		<p>Per <code>(2)</code> avrai bisogno (in aggiunta) di:</p>
		<ul>
			<li><a target="_blank" href="https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app">creare un'applicazione OAuth Github</a></li>
		</ul>
		<p>L'autenticazione GitHub è consigliata per le applicazioni che vengono eseguite online. Se non la abiliti, qualsiasi utente avrà accesso al lato server della tua applicazione.</p>
		<p>Segui le istruzioni per creare l'app OAuth, e seleziona come <b>Authorization callback URL</b> il seguente percorso: <code>YOURDOMAIN/oauth-callback</code>. Alla fine, torna qui e copia il <code>CLIENT ID</code> e la <code>SECRET KEY</code>.</p>
		<p>Fatto, puoi goderti l'applicazione.</p>
	</section>

</section>
